{% extends 'base.html.twig' %}

{% block body %}
    <!-- Container est un style de centrage de BootStrap
        mt pour margin top et mb pour margin bottom  et my-5 fait les deux à la fois -->
    <div class='container my-5'>
        <h1>Description</h1>

        {{ form(registerform) }}

    </div>
{% endblock %}